.container
{
    position: absolute;
    background: #f4f4f4;
    height: 500px;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
    border: solid #6c6c6c 2px;
}

.container:hover
{
    height: 560px;   
    -webkit-transition: all 0.5s ease;
}

.content
{
    position: absolute;
    background: #f4f4f4;
    width: 100%;
    height: 90%;
    padding-top: 20px;
}

.searchBox
{
    position: absolute;
    left: 40%;
    width: 150px;

}

.searchButton
{
    float: left;
    position: absolute;
    left: 50%;
    width: 60px;
}

.title
{
    height: 60px;
    font-size: 18px;
    font-weight: 900;
    background: #363636;
    color: #fdfdfd;
    padding: 10px;
}

.author, .data, .views
{
    position: absolute;
    height: 60px;
    width: 97px; 
    background-image: -webkit-linear-gradient(top, #D1CFCA 18%, #F5F5F5 79%);
    bottom: 0;
    border: solid 2px;
    border-right: solid 1px;
    text-align: center;
}

.author
{
    left: 0;
}

.author
{
    left: 100px;
}

.views
{
    left: 200px;
}

.description
{
    height: 210px;
    padding-left: 10px;
}

.tooltip
{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0px;
    background: #575757;
}

body
{
    background: #646262;
}
iframe
{
    margin: 0;
    padding: 0;
}


    

        





