@font-face { 
    font-family: AppleGaramond;
    src: url("/7fonts.ru_AppleGaramond");
   }

.container
{
    position: absolute;
    background: #fff;
    height: 500px;
    width: 300px;
    margin-left: 40px;
    border: solid #343434 1px;
    -webkit-transition: 0.5s cubic-bezier(.18,.56,.36,.81);
    -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}


img 
{
    width: 300px;
    height: 200px;
}

.container:hover
{
    height: 560px;   
    -webkit-transition: all 0.5s ease;
}

.content
{
    position: absolute;
    background-image: -webkit-gradient(
	   linear,
	   left top,
	   left bottom,
	   color-stop(0, #f2f2f2),
	   color-stop(1, #fff));
    width: 100%;
    height: 90%;

    top: 100px;
}

.header
{
    position: absolute;
    background-image: -webkit-gradient(
	   linear,
	   left top,
	   left bottom,
	   color-stop(1, #f2f2f2),
	   color-stop(1, #f2f2f2));
    width: 100%;
    height: 50px;
    padding-top: 20px;
}

.searchBox
{
    position: absolute;
    right: 100px;
    width: 150px;

}

.scrollSetup
{
    position: absolute;
    right: 300px;
    width: 150px;
}

.searchButton
{
    float: left;
    position: absolute;
    left: 50%;
    width: 60px;
}

.title
{
    height: 60px;
    font-size: 18px;
    font-weight: 900;
    background: #191919;
    color: #fdfdfd;
    padding: 10px;
}

.author, .data, .views
{
    position: absolute;
    height: 60px;
    width: 97px; 
    background-image: -webkit-linear-gradient(top, #555 18%, #676767 79%);
    bottom: 0;
    border: solid black 2px;
    color: #fdfdfd;
    border-right: solid black 1px;
    text-align: center;
}

.author
{
    left: 0;
}

.author
{
    left: 100px;
}

.views
{
    left: 200px;
    left: 200px;
}

.description
{
    height: 210px;
    padding-left: 10px;
}

.tooltip
{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0px;
    background: transparent;
}

.tileLink
{
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid black;
    transition: background-color 0.25s;
     -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), 0 0 7px rgba(0, 0, 0, 0.1) inset;

}

.tileLink:hover
{
    background: #d6e3e6;
}

body
{
    background: #f4f4f4;
}
iframe
{
    height: 0;
    margin: 0;
    padding: 0;
}


    

        





